<form class="autocomplete-form">
  <mat-form-field
    class="autocomplete-field">
    <input
      type="text"
      placeholder="{{placeHolder}}"
      attr.aria-label="{{ariaLabel}}"
      matInput
      [formControl]="autocompleteControl"
      [matAutocomplete]="auto"
      (ngModelChange)="updatePayload($event)">
    <mat-autocomplete #auto="matAutocomplete"
      [displayWith]="displayData">
      <mat-option *ngFor="let option of setOfOptions | async"
        [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
