<mat-form-field class="autocomplete-chips-field">
    <mat-chip-list #chipList attr.aria-label="{{ariaLabel}}">
        <mat-chip
            *ngFor="let option of insertedItems"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(option)">
            {{option}}
            <mat-icon matChipRemove *ngIf="removable">
                cancel
            </mat-icon>
        </mat-chip>
        <input type="text"
            id="chips-input"
            placeholder="{{placeHolder}}"
            #chipInput
            (click)="focusChipInput()"
            [formControl]="autocompleteChipsControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addNew($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete"
        id="chips-autocomplete"
        (optionSelected)="addSelected($event)">
        <mat-option *ngFor="let option of setOfOptions | async"
            [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
