<router-outlet>
  <app-autocomplete [options]="options" [placeHolder]="placeHolder" [ariaLabel]="label" (payload)="onPayload($event)">
  </app-autocomplete>
  <app-autocomplete-chips [options]="options" [placeHolder]="placeHolder" [ariaLabel]="label"
    (payload)="onPayload($event)">
  </app-autocomplete-chips>
</router-outlet>
